.filters__text {
  display: inline-block;
  width: 216px;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
}

.filters__input[id="beginner"]:checked + .filters__text {
  color: #F06000;
}
