.filters__hide-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(../../../images/filters__hide-button.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
