.personal-card__fieldset{
  padding: 12px 16px;
  width: 584px;
  border: 1.2px solid #E6E7EB;
  box-sizing: border-box;
  border-radius: 16px;
  flex-direction: row;
  align-self: center;
  color: #212329;
  background: url(../../../images/pen-vector.svg) no-repeat 546px center;
  outline: none;
  transition: border .3s ease-in-out;
}

.personal-card__fieldset:last-of-type{
  margin-bottom: 32px;
}

.personal-card__fieldset:focus{
  border: 1.2px solid #FF6600;
}
