.filters__remove-button {
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  margin: auto 2px auto 0;
  border-radius: 50%;
  background-color: inherit;
  background-image: url(../../../images/filters__remove-button.svg);
  background-position: center;
  cursor: pointer;
}
